<%= provide(:title, "Contact") %>
<div class='container'>
  <div class='row'>
    <div class='py-4 col-12'>
      <h1 class='text-center'>Contact Information</h1>
    </div>
  </div>
  <div class='pb-5 row'>
    <div class='mt-4 col-12 col-md-6'>
      <h2 class='text-center'>Contact Me</h2>
      <ul class='list-group'>
        <li class='list-group-item'><strong>My Phone Number:</strong> 214-864-1200</li>
        <li class='list-group-item'><strong>My Email:</strong> jake.daddario@gmail.com</li>
        <li class='list-group-item'><strong>Current Permenant Address:</strong> 2924 Oak Tree Dr.</br>Plano, TX 75025</li>
      </ul>
    </div>
    <div class='mt-4 col-12 col-md-6 text-center'>
      <h2>My Résumé</h2>
      <%= link_to 'My Résumé', pdfjs.full_path(file: "/resume.pdf"), class: 'btn btn-dark my-2' %>
    </div>
  </div>
</div>
