<%= provide(:title, "Contact") %>
<div class='info-container'>
  <h1 class='contact-header'>Contact Information</h1>
  <div class='contact-info'>
    <h2>Contact Me</h2>
    <p>
      <strong>My Phone Number:</strong> 214-864-1200</br>
      <strong>My Email:</strong> jake.daddario@gmail.com</br>
      <strong>Current Permenant Address:</strong> 2924 Oak Tree Dr., Plano TX 75025
    </p>
  </div>
  <div class='contact-resume'>
    <h2>My Résumé</h2>
    <%= link_to pdfjs.full_path(file: "/resume.pdf"),
                class: 'button-link' do %>
      <div class='button'>
        <p>My Résumé</p>
      </div>
    <% end %>
  </div>
</div>
