<% provide :title, "Blog" %>
<% provide :avatar_url, @post.user.avatar %>
<% provide :auname, @post.user.name %>
<% provide :auinfo, @post.user.info %>
<div class="body">
  <div class="author-shim">
    <%= render 'layouts/author_shim' %>
  </div>
  <div class="main-content">
    <%= content_tag :h1, @post.title %>
    <%= content_tag :p, markdown(@post.content) %>
  </div>
</div>
