// This file is imported and compiled through the asset pipeline with
// rest of the css present in this directory. Therefore, these variables
// can be used in any of the SCSS files present in this project.

$dark-blue:                 #2C4653;
$blue:                      #0E4D6C;
$orange:                    #F05833;
$tan:                       #E9DDC7;
$white:                     #FFF;
$warning-red:               #FF3232;
$warning-red-background:    #FFE5E5;
$success-green:             #006400;
$success-green-background:  #CCFFCC;
