  // Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

//
// Table of Contents:
// 1. Shared Styling
// 2. Home Page
// 3. Contact Page
//
// For searching in the stylsheet, ** is at the beginning of every heading

// **1. Shared Styling
:root {
  font-size: calc(12px + 0.5vw);
}

// No idea why this was a problem
body {
  margin: 0;
}

h1, h2, h3{
  font-family: 'Merriweather', serif;
}

p, li, a{
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 4.5em;
}

.button {
  color: $blue;
  width: 6rem;
  height: 2rem;
  border: 2px solid $blue;
  border-radius: 8rem;
  text-align: center;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  no-touchevents &:hover {
    color: $white;
    background-color: $blue;
  }
}

.body {
  padding: 5em 5em;
  background-color: $white;
  color: $dark-blue;
  a {
    color: $orange
  }
}

@media only screen and (max-width: 600px) {
  .body {
    padding: 1em;
  }
}

// **2. Home Page Styling
#hero-bg {
  background-image: url('head1.jpg');
  background-size: cover;
  background-position: center top;
  // This bases the text's translation off of the background
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-text {
  color: $white;
  position: absolute;
  // width: auto; behaves strangely with the positioning used
  width: 100%;
  top: 50%;
  left: 50%;
  // This magially centers the text AS the font-size scales. Otherwise could
  // have used a simpler technique
  transform: translate(-50%, -50%);

  h1 {
    text-align: center;
    margin: 0 0 10px 0;
  }
}

#head-button-container {
  position: static;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  transform: none;
  a {
    margin: 1.5rem 30px;
    color: $white;
    text-decoration: none;
  }
}

.head-button {
  color: $white;
  width: 9rem;
  height: 3rem;
  border: 2px solid $white;
  cursor: pointer;
  .no-touchevents &:hover {
    background-color: $white;
    color: $blue;
  }
}

#welcome-message {
  color: $orange;
}

@media only screen and (max-width: 600px) {
  #head-button-container {
    flex-direction: column;
    align-items: center;
  }
}

// Used for the Typed.js header
#typed-header {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: $white;
}

#typed-container {
  text-align: center;
}
.typed-cursor {
  color: $white;
  font-size: 1.5rem;
}

