<footer>
  <div class="footer-left">
    <p class="copyright-notice">
      Copyright © 2018 by Jacob Daddario
    </p>
  </div>
  <div class="footer-right">
    <div class="footer-link"><%= link_to "Posts",   '#' %></div>
    <div class="footer-link"><%= link_to "Contact Info", contact_path %></div>
  </div>
</footer>
