<nav>
  <span id="logo"><a href="/"><strong>JD</strong></a></span>
  <div class="nav-container">
    <div class="nav-listing"><a class="nav-hover" href="#">Posts</a></div>
    <div class="nav-listing"><a class="nav-hover" href="#">Contact Info</a></div>
    <div class="nav-listing"><a class="nav-hover" href="#">Log In</a></div>
    <% if nil %>
      <div class="nav-listing"><a class="nav-hover" href="#">Write Post</a></div>
      <div class="nav-listing"><a class="nav-hover" href="#">Log Out</a></div>
    <% end %>
  </div>
</nav>
